header {
    border-radius: 10px;
    background-color: deepskyblue;
    padding: 10px;
    margin: 10px;
}

div#wrapper {
    margin: 10px;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}